@bg-color: #cccccc;

body{
  background-color: @bg-color;
  background-image: url('http://images8.alphacoders.com/366/366762.jpg');
}
.form{
  background-color: @bg-color;
}

.logout{
  margin-top: 6px;
  margin-right: 6px;
  margin-left: 6px;
  margin-bottom: 0px;
}

.new h1{
  color: white;
  text-align: center;
}
#logout{
  background-color: #333;
}

.title{
  color: white;
  text-align: center;
}

.hideTwo{
  display: none;
}

.hideThree{
  display: none;
}

.hideFour{
  display: none;
}

.hideFive{
  display: none;
}

#records{
  margin-top: 20px;
  width: 100%;
}
