extends ../shared/template

block content
  .row
    .small-12.columns
      form(class='background', action='/records', method='post').form
        fieldset
          legend Parking Form
          .row
            .small-4.columns
              label(for='date') Date
              input(type='date', name='date')
            .small-4.columns
              label(for='startTime') Start Time
              input(type='time', name='startTime')
            .small-4.columns
              label(for='endTime') End Time
              input(type='time', name='endTime')
          .row
            .small-6.columns
              label(for='lot') Lot
              input(type='text', name='lot')
            .small-6.columns
              label(for='occasion') Event
              input(type='text', name='occasion')
          .row
            .small-3.columns
              label(for='totalCards') Total Cards
              input(type='number', name='totalCards')
            .small-3.columns
              label(for='usedCards') Used Cards
              input(type='number', name='usedCards')#uc
            .small-6.columns
              label(for='attendants') Attendants
              input(type='text', name='attendants')
          .row
            .small-12.large-10.columns.large-centered
              table
                thead
                  th: label Number of Vehicles
                  th: label Amount Per Vehicles
                  th: label Extended Amount
                  th: label Note
                tbody
                  tr
                    th: input(type='number', name='numberOfVehiclesOne')#n1
                    th: input(type='number', name='amountPerVehicleOne')#a1
                    th: input(type='number', name='extendedAmountOne')#e1
                    th: input(type='text', name='noteOne')
                  tr.hideTwo#r2
                    th: input(type='number', name='numberOfVehiclesTwo')#n2
                    th: input(type='number', name='amountPerVehicleTwo')#a2
                    th: input(type='number', name='extendedAmountTwo')#e2
                    th: input(type='text', name='noteTwo')
                  tr.hideThree#r3
                    th: input(type='number', name='numberOfVehiclesThree')#n3
                    th: input(type='number', name='amountPerVehicleThree')#a3
                    th: input(type='number', name='extendedAmountThree')#e3
                    th: input(type='text', name='noteThree')
                  tr.hideFour#r4
                    th: input(type='number', name='numberOfVehiclesFour')#n4
                    th: input(type='number', name='amountPerVehicleFour')#a4
                    th: input(type='number', name='extendedAmountFour')#e4
                    th: input(type='text', name='noteFour')
                  tr.hideFive#r5
                    th: input(type='number', name='numberOfVehiclesFive')#n5
                    th: input(type='number', name='amountPerVehicleFive')#a5
                    th: input(type='number', name='extendedAmountFive')#e5
                    th: input(type='text', name='noteFive')
          .row
            .small-6.columns
              label(for='totalAmount') Total Amount
              input(type='number', name='totalAmount')#ta
            .small-6.columns
              label(for='startUp') Start Up Amount
              input(type='number', name='startUp')
          .row
            .small-12.columns.textarea
              label Final Notes
              textarea(type='text', name='notes')
          .row
            .small-5.columns.end
              button Submit Parking From

block js
  script(src='/js/source/new.js')



