extends ../shared/template

block content
  .row
    .small-6.columns.new
      h1= 'Date'
    .small-6.columns.new
      h1= 'Lot'
  .row
    .small-6.columns.title
      h4: a(href='/date/2014-03-31')= '2014-03-20'
      h4: a(href='/date/2014-03-31')= '2014-03-21'
      h4: a(href='/date/2014-03-31')= '2014-03-22'
      h4: a(href='/date/2014-03-31')= '2014-03-24'
      h4: a(href='/date/2014-03-31')= '2014-03-25'
      h4: a(href='/date/2014-03-31')= '2014-03-26'
      h4: a(href='/date/2014-03-31')= '2014-03-29'
      h4: a(href='/date/2014-03-31')= '2014-03-30'
      h4: a(href='/date/2014-03-31')= '2014-03-31'
    .small-6.columns.title
      h4: a(href='/lot/Quiznos')= 'Quiznos'
      h4: a(href='/lot/Bloom')= 'Bloom'
      h4: a(href='/lot/Big-Lot')= 'Big-Lot'
      h4: a(href='/lot/Bridges')= 'Bridges'
      h4: a(href='/lot/Rutledge')= 'Rutledge'
      h4: a(href='/lot/EOA')= 'EOA'
      h4: a(href='/lot/Johnstone')= 'Johnstone'
      h4: a(href='/lot/Carpet-Center')= 'Carpet-Center'
      h4: a(href='/lot/Brooks')= 'Brooks'


